@import "tailwindcss";

@theme inline {
 --color-primary: #1152d4;
 --color-background-light: #f6f6f8;
 --color-surface-light: #ffffff;
 --color-text-main: #0d121b;
 --color-text-secondary: #4c669a;
 --color-border-light: #e7ebf3;
 --font-display: var(--font-lexend), sans-serif;
}

@layer base {
 body {
 @apply bg-background-light text-slate-900 font-display antialiased;
 }
}
